openapi: '3.0.2'
info:
  title: Ebbflow API (v1)
  version: '1.0'
servers:
  - url: https://api.ebbflow.io/v1

components:
  schemas:
    host_key_init_context:
      properties:
        suggested_key_name:
          type: string
        account_id:
          type: string
      required:
      - suggested_key_name
    key_request_id:
      type: string
    key_data:
      type: object
      properties:
        key:
          type: string
      required:
        - key
    host_key_init_finalization_context:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/key_request_id'
        private:
          type: string
      required:
        - id
        - private
    Error:
      type: object
      properties:
        message:
          type: string
      required:
        - message
  responses:
    host_key_init_finalization_context_response:
      description: host_key_init_finalization_context from a hostkeyinit call, and used to finalize a key init
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/host_key_init_finalization_context'
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotReady:
      description: The specified resource is not ready yet
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    key_request_id_param:
      name: id
      in: path
      required: true
      description: The id of the KeyRequest object
      schema:
        $ref: '#/components/schemas/key_request_id'
paths:
  /hostkeyinit:
    post:
      security: []   # No security
      operationId: createHostKeyInit
      description: Create a new Key Request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/host_key_init_context'
      responses:
        '200':
          $ref: '#/components/responses/host_key_init_finalization_context_response'
  /hostkeyinit/{id}:
    post:
      security: []   # No security
      operationId: finalizeHostKeyInit
      description: Retrieve the key_data from a host_key_init_finalization_context
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/host_key_init_finalization_context'
      parameters:
        - $ref: '#/components/parameters/key_request_id_param'
      responses:
        '200':
          description: The key_data from the host_key_init_finalization_context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key_data'
        '202':
          $ref: '#/components/responses/NotReady'
        '404':
          $ref: '#/components/responses/NotFound'